body {
    margin: 0;
    padding: 0;
}


.title {
    font-weight: 800;
    z-index: 10;
    color: #1e1e1f;
    position: fixed;
    left: 20px;
  }

.fluidMedia {
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: auto;
}

.fluidMedia iframe {
    cursor: pointer;
    padding-bottom: 20px;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}